html, body {
  margin: 20px;
  padding: 0;
  /*background-color: rgb(250, 190, 70);*/
  background-image: url("images/traje_tipico.jpeg");
  background-position: center;
}

canvas {
  display: block;
  margin: 0 auto;
}
